n8n/workflow_resterampe_v1.json
{"updatedAt":"2026-04-09T11:23:49.040Z","createdAt":"2026-04-01T14:37:00.002Z","id":"C6p1MDeFR2HN9Nm7","name":"resterampe_sync","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node_schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[240,260],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"typeVersion":1.2},{"id":"node_manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[240,420],"parameters":{},"typeVersion":1},{"id":"node_shopware","name":"Shopware Produkte abrufen","type":"n8n-nodes-base.httpRequest","position":[500,340],"parameters":{"method":"POST","url":"https://pharmabluete-mainz.de/api/search/product","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"filter\": [{\"type\": \"range\", \"field\": \"availableStock\", \"parameters\": {\"gte\": 1, \"lte\": 49}}, {\"type\": \"equals\", \"field\": \"active\", \"value\": true}], \"associations\": {\"properties\": {\"associations\": {\"group\": {}}}, \"categories\": {}, \"cover\": {\"associations\": {\"media\": {}}}}, \"sort\": [{\"field\": \"availableStock\", \"order\": \"ASC\"}], \"limit\": 500, \"total-count-mode\": 1}","options":{}},"credentials":{"oAuth2Api":{"id":"DmONQ5tXOAd4QB9b","name":"n8n Shopware API Integration Admin pharmabluete-mainz.de"}},"typeVersion":4.2,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"id":"node_code","name":"Normalisieren und SQL vorbereiten","type":"n8n-nodes-base.code","position":[760,340],"parameters":{"mode":"runOnceForAllItems","jsCode":"\n// Mode: Run Once for All Items\nconst EUR_ID = 'b7d2554b0ce847cd82f3ac9bd1c0dfca';\n\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\nfunction escJson(arr) {\n  if (!arr || arr.length === 0) return \"'[]'::jsonb\";\n  return \"'\" + JSON.stringify(arr).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  for (const p of (item.json.data || [])) {\n    const name = p.translated?.name ?? p.name ?? '';\n    const productNumber = p.productNumber ?? '';\n    const stock = p.availableStock ?? p.stock ?? 0;\n    let price = null;\n    if (Array.isArray(p.price)) {\n      const ep = p.price.find(pr => pr.currencyId === EUR_ID);\n      price = ep?.gross ?? null;\n    } else if (p.price?.currencyId === EUR_ID) {\n      price = p.price.gross ?? null;\n    }\n    const properties = (p.properties || []).map(prop => ({\n      group: prop.group?.translated?.name ?? prop.group?.name ?? '',\n      value: prop.translated?.name ?? prop.name ?? ''\n    })).filter(pr => pr.group && pr.value);\n    const categories = (p.categories || []).map(cat =>\n      cat.translated?.name ?? cat.name ?? ''\n    ).filter(Boolean);\n    const coverUrl = p.cover?.media?.url ?? null;\n    const sql = `INSERT INTO resterampe (shopware_id, product_number, name, stock, price, categories, properties, cover_url, last_synced)\nVALUES (${esc(p.id)}, ${esc(productNumber)}, ${esc(name)}, ${stock}, ${price !== null ? price : 'NULL'}, ${escJson(categories)}, ${escJson(properties)}, ${coverUrl ? esc(coverUrl) : 'NULL'}, NOW())\nON CONFLICT (shopware_id) DO UPDATE SET\n  product_number = EXCLUDED.product_number,\n  name = EXCLUDED.name,\n  stock = EXCLUDED.stock,\n  price = EXCLUDED.price,\n  categories = EXCLUDED.categories,\n  properties = EXCLUDED.properties,\n  cover_url = EXCLUDED.cover_url,\n  last_synced = NOW()`;\n    out.push({ json: { shopware_id: p.id, name, sql } });\n  }\n}\nreturn out;\n"},"typeVersion":2},{"id":"node_upsert","name":"UPSERT in resterampe","type":"n8n-nodes-base.postgres","position":[1020,340],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"0dXOUxRF1iiYhAV8","name":"Postgres shopware"}},"typeVersion":2.5},{"id":"node_aggregate","name":"Zusammenfassen","type":"n8n-nodes-base.aggregate","position":[1280,340],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"items","include":"allFields"},"typeVersion":1},{"id":"node_delete","name":"Veraltete Eintraege loeschen","type":"n8n-nodes-base.postgres","position":[1540,340],"parameters":{"operation":"executeQuery","query":"DELETE FROM resterampe WHERE last_synced < NOW() - INTERVAL '2 hours'","options":{}},"credentials":{"postgres":{"id":"0dXOUxRF1iiYhAV8","name":"Postgres shopware"}},"typeVersion":2.5},{"id":"node_webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[240,580],"parameters":{"path":"resterampe-refresh","httpMethod":"POST","responseMode":"onReceived","responseData":"noData"},"webhookId":"resterampe-refresh","typeVersion":2},{"id":"node_data_webhook","name":"Daten Webhook","type":"n8n-nodes-base.webhook","position":[240,740],"parameters":{"path":"resterampe-data","httpMethod":"GET","responseMode":"responseNode"},"webhookId":"resterampe-data","typeVersion":2},{"id":"node_pg_select","name":"Produkte aus DB lesen","type":"n8n-nodes-base.postgres","position":[500,740],"parameters":{"operation":"executeQuery","query":"SELECT shopware_id, product_number, name, stock, price, categories, properties, cover_url, last_synced FROM resterampe ORDER BY stock ASC","options":{}},"credentials":{"postgres":{"id":"0dXOUxRF1iiYhAV8","name":"Postgres shopware"}},"typeVersion":2.5},{"id":"node_aggregate_data","name":"Als Array zusammenfassen","type":"n8n-nodes-base.aggregate","position":[760,740],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"products","include":"allFields"},"typeVersion":1},{"id":"node_respond","name":"Antwort senden","type":"n8n-nodes-base.respondToWebhook","position":[1020,740],"parameters":{"respondWith":"json","responseBody":"={{ $json.products }}"},"typeVersion":1.1},{"id":"node_guard","name":"Hat Produkte?","type":"n8n-nodes-base.if","position":[1400,340],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cond_guard","leftValue":"={{ $json.items.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}},"typeVersion":2}],"connections":{"Schedule Trigger":{"main":[[{"node":"Shopware Produkte abrufen","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Shopware Produkte abrufen","type":"main","index":0}]]},"Shopware Produkte abrufen":{"main":[[{"node":"Normalisieren und SQL vorbereiten","type":"main","index":0}]]},"Normalisieren und SQL vorbereiten":{"main":[[{"node":"UPSERT in resterampe","type":"main","index":0}]]},"UPSERT in resterampe":{"main":[[{"node":"Zusammenfassen","type":"main","index":0}]]},"Zusammenfassen":{"main":[[{"node":"Hat Produkte?","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Shopware Produkte abrufen","type":"main","index":0}]]},"Daten Webhook":{"main":[[{"node":"Produkte aus DB lesen","type":"main","index":0}]]},"Produkte aus DB lesen":{"main":[[{"node":"Als Array zusammenfassen","type":"main","index":0}]]},"Als Array zusammenfassen":{"main":[[{"node":"Antwort senden","type":"main","index":0}]]},"Hat Produkte?":{"main":[[{"node":"Veraltete Eintraege loeschen","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"CeKt0CJoRmEXf08k","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"6cb3bf31-323c-49e9-bbcd-8d1fd896d9ca","activeVersionId":"6cb3bf31-323c-49e9-bbcd-8d1fd896d9ca","versionCounter":13,"triggerCount":3,"shared":[{"updatedAt":"2026-04-09T11:17:46.104Z","createdAt":"2026-04-09T11:17:46.104Z","role":"workflow:owner","workflowId":"C6p1MDeFR2HN9Nm7","projectId":"xXX5Z0fn1CfuSJQG","project":{"updatedAt":"2025-07-11T11:33:19.289Z","createdAt":"2025-07-11T11:32:06.140Z","id":"xXX5Z0fn1CfuSJQG","name":"Ulmen Apotheke <mail@ulmenapotheke-drais.de>","type":"personal","icon":null,"description":null,"creatorId":"ab1d1e12-7276-46b4-8994-91c72b973489"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-09T11:23:49.041Z","createdAt":"2026-04-09T11:23:49.041Z","versionId":"6cb3bf31-323c-49e9-bbcd-8d1fd896d9ca","workflowId":"C6p1MDeFR2HN9Nm7","nodes":[{"id":"node_schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[240,260],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"typeVersion":1.2},{"id":"node_manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[240,420],"parameters":{},"typeVersion":1},{"id":"node_shopware","name":"Shopware Produkte abrufen","type":"n8n-nodes-base.httpRequest","position":[500,340],"parameters":{"method":"POST","url":"https://pharmabluete-mainz.de/api/search/product","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\"filter\": [{\"type\": \"range\", \"field\": \"availableStock\", \"parameters\": {\"gte\": 1, \"lte\": 49}}, {\"type\": \"equals\", \"field\": \"active\", \"value\": true}], \"associations\": {\"properties\": {\"associations\": {\"group\": {}}}, \"categories\": {}, \"cover\": {\"associations\": {\"media\": {}}}}, \"sort\": [{\"field\": \"availableStock\", \"order\": \"ASC\"}], \"limit\": 500, \"total-count-mode\": 1}","options":{}},"credentials":{"oAuth2Api":{"id":"DmONQ5tXOAd4QB9b","name":"n8n Shopware API Integration Admin pharmabluete-mainz.de"}},"typeVersion":4.2,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"id":"node_code","name":"Normalisieren und SQL vorbereiten","type":"n8n-nodes-base.code","position":[760,340],"parameters":{"mode":"runOnceForAllItems","jsCode":"\n// Mode: Run Once for All Items\nconst EUR_ID = 'b7d2554b0ce847cd82f3ac9bd1c0dfca';\n\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\nfunction escJson(arr) {\n  if (!arr || arr.length === 0) return \"'[]'::jsonb\";\n  return \"'\" + JSON.stringify(arr).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  for (const p of (item.json.data || [])) {\n    const name = p.translated?.name ?? p.name ?? '';\n    const productNumber = p.productNumber ?? '';\n    const stock = p.availableStock ?? p.stock ?? 0;\n    let price = null;\n    if (Array.isArray(p.price)) {\n      const ep = p.price.find(pr => pr.currencyId === EUR_ID);\n      price = ep?.gross ?? null;\n    } else if (p.price?.currencyId === EUR_ID) {\n      price = p.price.gross ?? null;\n    }\n    const properties = (p.properties || []).map(prop => ({\n      group: prop.group?.translated?.name ?? prop.group?.name ?? '',\n      value: prop.translated?.name ?? prop.name ?? ''\n    })).filter(pr => pr.group && pr.value);\n    const categories = (p.categories || []).map(cat =>\n      cat.translated?.name ?? cat.name ?? ''\n    ).filter(Boolean);\n    const coverUrl = p.cover?.media?.url ?? null;\n    const sql = `INSERT INTO resterampe (shopware_id, product_number, name, stock, price, categories, properties, cover_url, last_synced)\nVALUES (${esc(p.id)}, ${esc(productNumber)}, ${esc(name)}, ${stock}, ${price !== null ? price : 'NULL'}, ${escJson(categories)}, ${escJson(properties)}, ${coverUrl ? esc(coverUrl) : 'NULL'}, NOW())\nON CONFLICT (shopware_id) DO UPDATE SET\n  product_number = EXCLUDED.product_number,\n  name = EXCLUDED.name,\n  stock = EXCLUDED.stock,\n  price = EXCLUDED.price,\n  categories = EXCLUDED.categories,\n  properties = EXCLUDED.properties,\n  cover_url = EXCLUDED.cover_url,\n  last_synced = NOW()`;\n    out.push({ json: { shopware_id: p.id, name, sql } });\n  }\n}\nreturn out;\n"},"typeVersion":2},{"id":"node_upsert","name":"UPSERT in resterampe","type":"n8n-nodes-base.postgres","position":[1020,340],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"0dXOUxRF1iiYhAV8","name":"Postgres shopware"}},"typeVersion":2.5},{"id":"node_aggregate","name":"Zusammenfassen","type":"n8n-nodes-base.aggregate","position":[1280,340],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"items","include":"allFields"},"typeVersion":1},{"id":"node_delete","name":"Veraltete Eintraege loeschen","type":"n8n-nodes-base.postgres","position":[1540,340],"parameters":{"operation":"executeQuery","query":"DELETE FROM resterampe WHERE last_synced < NOW() - INTERVAL '2 hours'","options":{}},"credentials":{"postgres":{"id":"0dXOUxRF1iiYhAV8","name":"Postgres shopware"}},"typeVersion":2.5},{"id":"node_webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[240,580],"parameters":{"path":"resterampe-refresh","httpMethod":"POST","responseMode":"onReceived","responseData":"noData"},"webhookId":"resterampe-refresh","typeVersion":2},{"id":"node_data_webhook","name":"Daten Webhook","type":"n8n-nodes-base.webhook","position":[240,740],"parameters":{"path":"resterampe-data","httpMethod":"GET","responseMode":"responseNode"},"webhookId":"resterampe-data","typeVersion":2},{"id":"node_pg_select","name":"Produkte aus DB lesen","type":"n8n-nodes-base.postgres","position":[500,740],"parameters":{"operation":"executeQuery","query":"SELECT shopware_id, product_number, name, stock, price, categories, properties, cover_url, last_synced FROM resterampe ORDER BY stock ASC","options":{}},"credentials":{"postgres":{"id":"0dXOUxRF1iiYhAV8","name":"Postgres shopware"}},"typeVersion":2.5},{"id":"node_aggregate_data","name":"Als Array zusammenfassen","type":"n8n-nodes-base.aggregate","position":[760,740],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"products","include":"allFields"},"typeVersion":1},{"id":"node_respond","name":"Antwort senden","type":"n8n-nodes-base.respondToWebhook","position":[1020,740],"parameters":{"respondWith":"json","responseBody":"={{ $json.products }}"},"typeVersion":1.1},{"id":"node_guard","name":"Hat Produkte?","type":"n8n-nodes-base.if","position":[1400,340],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cond_guard","leftValue":"={{ $json.items.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}},"typeVersion":2}],"connections":{"Schedule Trigger":{"main":[[{"node":"Shopware Produkte abrufen","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Shopware Produkte abrufen","type":"main","index":0}]]},"Shopware Produkte abrufen":{"main":[[{"node":"Normalisieren und SQL vorbereiten","type":"main","index":0}]]},"Normalisieren und SQL vorbereiten":{"main":[[{"node":"UPSERT in resterampe","type":"main","index":0}]]},"UPSERT in resterampe":{"main":[[{"node":"Zusammenfassen","type":"main","index":0}]]},"Zusammenfassen":{"main":[[{"node":"Hat Produkte?","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Shopware Produkte abrufen","type":"main","index":0}]]},"Daten Webhook":{"main":[[{"node":"Produkte aus DB lesen","type":"main","index":0}]]},"Produkte aus DB lesen":{"main":[[{"node":"Als Array zusammenfassen","type":"main","index":0}]]},"Als Array zusammenfassen":{"main":[[{"node":"Antwort senden","type":"main","index":0}]]},"Hat Produkte?":{"main":[[{"node":"Veraltete Eintraege loeschen","type":"main","index":0}],[]]}},"authors":"Ulmen Apotheke","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-09T11:23:49.089Z","id":123,"workflowId":"C6p1MDeFR2HN9Nm7","versionId":"6cb3bf31-323c-49e9-bbcd-8d1fd896d9ca","event":"activated","userId":"ab1d1e12-7276-46b4-8994-91c72b973489"},{"createdAt":"2026-04-09T11:23:49.076Z","id":122,"workflowId":"C6p1MDeFR2HN9Nm7","versionId":"6cb3bf31-323c-49e9-bbcd-8d1fd896d9ca","event":"deactivated","userId":"ab1d1e12-7276-46b4-8994-91c72b973489"}]}}